<!DOCTYPE HTML>
<html>
	<head>
		<title>Diego's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="icon" href="static/images/favicon.ico">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="static/images/avatar.png" alt="" /></span>
					<h1 id="logo"><a href="#">Diego Pinheiro</a></h1>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#quem_sou_eu" class="active">Quem sou eu</a></li>
						<li><a href="#experiencia_profissional">Experiência Profissional</a></li>
						<li><a href="#projetos">Projetos</a></li>
						<li><a href="#formacao_academica_e_certificados">Formação Acadêmica e Certificados</a></li>
						<li><a href="#contato">Contato</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/diego-pinheiro-359a0988/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
						<li><a href="https://github.com/diegopinheiro616" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.instagram.com/diegopinheiro616/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.behance.net/diegorpg" class="icon solid fa-heart"><span class="label">Behance</span></a></li>
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- Um -->
							<section id="quem_sou_eu">
								<div class="image main" data-position="center">
									<img src="static/images/banner.jpg" alt="" />
								</div>
								<div class="container">
									<header class="major">
										<h2>Quem sou eu</h2>
										<p>Meu nome é Diego L. T. J. Pinheiro, 33 anos de idade, brasileiro da Terra da Garoa (São Paulo).</p>
										<p>Sou engenheiro civil e, atualmente, aluno de Análise e Desenvolvimento de Sistemas.</p>
										<p>Esse site tem como propósito apresentar quem eu sou e o que eu sei fazer involvendo tecnologia e programação.</p>
										<p>Todo esse site foi feito usando python (flask), html, css, javascript, bootstrap.</p>
										<p> Para acessar meu currículo, clique <a href="http://html5up.net">aqui</a> (no momento fora do ar).</p>
									</header>
								</div>
							</section>

						<!-- Dois -->
							<section id="experiencia_profissional">
								<div class="container">
									<header class="major">
										<h2>Experiência Profissional</h2>
									</header>
									<p>Abaixo lista das minhas principais competências adquiridas ao longo dos anos. Em seguida resumo de todas as empresas, cargos e atividades exercidas por mim nos últimos 12 anos.</p>
									<h3>Principais Competências</h3>
									<ul class="feature-icons">
										<li class="icon solid fa-code">Python ⭐⭐⭐</li>
										<li class="icon solid fa-code">Javascript ⭐⭐</li>
										<li class="icon solid fa-code">HTML/CSS ⭐⭐</li>
										<li class="icon solid fa-database">MySQL e SQLite ⭐⭐</li>
										<li class="icon solid fa-bars">Flask ⭐⭐</li>
										<li class="icon solid fa-brush">Bootstrap ⭐⭐</li>
										<li class="icon solid fa-expand">AutoCAD ⭐⭐⭐⭐⭐</li>
										<li class="icon solid fa-users">MS Project ⭐⭐</li>
										<li class="icon solid fa-paperclip">Pacote Office ⭐⭐⭐⭐</li>
										<li class="icon solid fa-comments">Inglês ⭐⭐⭐⭐⭐</li>
									</ul>
									<h3>Sialdrill Engenharia e Construções Ltda.</h3>
									<p><em>Desenhista Projetista Sênior (01/21~08/21)<br>Desenhista Projetista Jr. (06/19~12/20)</em><br>
									    <strong>Atividades:</strong> Elaboração de projetos diversos relacionados a rede de gás usando software Autocad (serviço a Comgás):<br>
									    • Projetos de rede de gás PE100 (RIC e LL4) e aço (LL7);<br>
									    • Projetos para concessionárias específicas: DAEE, Convias, DER e CTEEP, etc;<br>
										• Projetos de Rebaixamento e Elevação de pressão de rede de gás e planos de obra.
									</p>
									
									<h3>Profissional Autônomo</h3>
									<p><em>Engenheiro Civil (06/17~06/19)</em><br>
									    <strong>Atividades: </strong> Elaboração de laudo técnico visando esclarecer problemas de infiltração, rede elétrica e danos estruturais (rachaduras) e outras patologias de baixa complexibilidade em construções residenciais; emissão de ART para pequenas reformas domésticas, visita técnica e consultoria. Abaixo últimos trabalhos:<br>
									    • Visita técnica e elaboração de laudo técnico visando conscientizar a moradora dos problemas de uso, operação e manutenção da estrutura e ambiente. Problemas de infiltração na laje devido a problemas de estanqueidade na rede de esgoto, indícios de lixiviação e carbonatação do concreto, oxidação das armaduras da laje e das vigas da junta de dilatação e armazenagem imprópria de material.<br>
									    • Serviço de consultoria. Análise dos projetos da RRT de reforma, elaborados por arquiteto responsável, visando corrigir erros no documento relacionados a reforço estrutural da estrutura mista de concreto armado e alvenaria estrutural; e remanejamento de rede de água, esgoto e gás encanado.
									</p>
									
									<h3>Estática Engenharia Ltda.</h3>
									<p><em>Desenhista I (01/13~10/15)<br>Estagiário (02/12~12/12)</em><br>
									    <strong>Atividades:</strong> Atividades: Elaboração de projetos diversos relacionados a rede de gás usando software Autocad (serviço a Comgás):<br>
									    • Projetos de rede de gás PE100 (RIC e LL4) e aço (LL7);;<br>
									    • Projetos de sinalização viária de ruas e estradas;<br>
										• Projetos de saneamento básico (água e esgoto);<br>
										• Auxílio em projetos de traçado viário de ruas e estradas.</p>
									
									<h3>Alleoni Engenharia Ltda.</h3>
									<p><em>Auxiliar de Projetista (10/11~02/12)</em></p>
									
									<h3>Doka Brasil - Fôrmas para Concreto Ltda.</h3>
									<p><em>Estagiário (10/10~09/11)</em></p>
								</div>
							</section>
						
						<!-- Três -->
							<section id="projetos">
								<div class="container">
									<header class="major">
										<h2>Projetos</h2>
									</header>
									<p>Abaixo lista de projetos pessoais e acadêmicos.</p>
									<div class="features">
										<article>
											<a href="#" class="image"><img src="static/images/pic01.jpg" alt="" /></a>
											<div class="inner">
												<h4><a href="http://html5up.net">Blog Platina S2</a></h4>
												<p>Site dedicado a jogos lançados no console Playstation 4. Artigos, Top10 e reflexões sobre os jogos que eu platinei e os que não platinei... ainda.<br>O site foi construído utilizando as seguintes tecnologias: Python (linguagem), Bootstrap (estética), Jquery (funcionalidade) e SQLite (SGBD - Sistema Gerenciador de Bancos de Dados).</p>
											</div>
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic02.jpg" alt="" /></a>
											<div class="inner">
												<h4><a href="http://html5up.net">Projeto RPG</a></h4>
												<p>Em desenvolvimento...</p>
											</div>
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic03.jpg" alt="" /></a>
											<div class="inner">
												<h4><a href="https://github.com/diegopinheiro616">Projetos Acadêmicos</a></h4>
												<p>Projetos realizados durante os cursos:<br>
													• <a href="https://github.com/diegopinheiro616/100-Days-of-Code-The-Complete-Python-Pro-Bootcamp-2022">100 Days of Code: The Complete Python Pro Bootcamp;</a><br>
													• <a href="https://github.com/diegopinheiro616/Curso-Web-Moderno-Completo-com-JavaScript-2022">Curso Web Moderno Completo com JavaScript 2021;</a><br>
													• <a href="https://github.com/diegopinheiro616/The-Complete-2022-Web-Development-Bootcamp">The-Complete-2022-Web-Development-Bootcamp;</a><br>
													• <a href="https://github.com/diegopinheiro616/The-Ultimate-MySQL-Bootcamp-Go-from-SQL-Beginner-to-Expert">The Ultimate MySQL Bootcamp: Beginner to Expert.</a>
												</p>
											</div>
										</article>
									</div>
								</div>
							</section>
						
						<!-- Quatro -->
							<section id="formacao_academica_e_certificados">
								<div class="container">
									<header class="major">
										<h2>Formação Acadêmica</h2>
									</header>
									<h3>Análise e Desenvolvimento de Sistemas <em>(2021~23)</em></h3>
									<p><strong>Faculdade:</strong> Universidade Anhembi Morumbi (UAM)<br>
										Atualmente no 2º semestre</p>
									
									<h3>Engenharia Civil <em>(2014~16)</em></h3>
									<p><strong>Faculdade:</strong> Universidade Mogi das Cruzes (UMC)<br>
										<a href="http://html5up.net">Concluído</a></p>
									
									<h3>Tecnologia em Construção Civil: Edifícios <em>(07/08~12/12)</em></h3>
									<p><strong>Faculdade:</strong> Faculdade de Tecnologia de São Paulo (FatecSP)<br>
										<a href="http://html5up.net">Concluído</a></p>
									
									<h3>Técnico em Construção Civil <em>(07/08~07/10)</em></h3>
									<p><strong>Escola:</strong> Serviço Nacional de Aprendizagem Industrial (SENAI)<br>
										<a href="http://html5up.net">Concluído</a></p>
									
									<header class="major">
										<h2>Certificados</h2>
									</header>
									<h3>The Complete Python Pro Bootcamp <em>(11/21~03/22)</em></h3>
									<p><strong>Escola online:</strong> Udemy<br>
										<a href="http://html5up.net">Concluído</a></p>
									
									<h3>Web Completo com JavaScript 2021 <em>(01/22~06/22)</em></h3>
									<p><strong>Escola online:</strong> Udemy<br>
										Em andamento (30%)</p>
									
									<h3>The Complete Web Dev. Bootcamp <em>(01/22~08/22)</em></h3>
									<p><strong>Escola online:</strong> Udemy<br>
										Em andamento (15%)</p>
									
									<h3>The Ultimate MySQL Bootcamp <em>(02/22~03/22)</em></h3>
									<p><strong>Escola online:</strong> Udemy<br>
										<a href="http://html5up.net">Concluído</a></p>
									
									<h3>Curso de Inglês – Básico ao Avançado <em>(02/09~12/16)</em></h3>
									<p><strong>Escola:</strong> Fundação Richard Hugh Fisk (FISK)<br>
										<a href="http://html5up.net">Concluído</a></p>
									
									<h3>Planej. e Gerenc. de Projetos com Ênfase no PMI <em>(VERIFICAR)</em></h3>
									<p><strong>Escola:</strong> Impacta<br>
										<a href="http://html5up.net">Concluído</a></p>
									
									<h3>Software MS Project 2013 <em>(VERIFICAR)</em></h3>
									<p><strong>Escola:</strong> Impacta<br>
										<a href="http://html5up.net">Concluído</a></p>
								</div>
							</section>

						<!-- Cinco -->
							<section id="contato">
								<div class="container">
									<h3>Contato</h3>
									<p>Logo em funcionamento...</p>
									<form method="post" action="#">
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
											<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
											<div class="col-12"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
											<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" class="primary" value="Send Message" /></li>
													<li><input type="reset" value="Reset Form" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</section>

						
						

					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li><li>Original Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>
				-->
			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>